@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="mt-1">
        <h1 class="display-1 text-center">
            Hi, My name is Harlod Bombala
        </h1>
        <p class="p-1 text-center">
            And welcome to my amazing portfolio :)
        </p>
    </div>
    <div class="mt-2 text-center">
        <img src="Images/Persona_image.jpg" class="img-fluid w-50 h-50" alt="Responsive image">
    </div>
    <div class="mt-1">
    </div>
</div>
